.task-input-container {
  margin-top: 30px;
}

.editor {
  min-height: 50px;
  min-width: 50%;
}

.save-btn-container {
  margin-top: 30px;
}

.status-tag,
.priority-tag,
.date-time {
  margin-top: 10px;
}

.task-container {
  margin-top: 50px;
}

.single-list {
  margin-top: 20px;
}

.filter-priority-container,
.filter-status-container,
.filter-by-date {
  margin-top: 20px;
}

.task-summary {
  margin-top: 50px;
}
